<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="food.activity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
        <!--android:permission="hs.permission.test"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--android:name=".LoginActivity"-->
        <!--android:name=".test.AIDLActivity"-->
        <!--android:name=".test.AIDLActivity2"-->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".SubmitOrder"
            android:label="订单" />
        <activity
            android:name=".CartActivity"
            android:label="购物车" />
        <activity
            android:name=".ModifyCart"
            android:label="修改" />
        <activity
            android:name=".ProductDetail"
            android:label="菜品详细信息" />



        <receiver
            android:name=".test.CountrysideReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.hs.sendRice"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".test.FarmerReceiver"
            android:exported="true">
            <intent-filter android:priority="-1000">
                <action android:name="com.hs.sendRice"/>
            </intent-filter>
        </receiver>

    </application>

    <!--自定义权限，对四大组件的访问加上一层保护-->
    <permission
        android:name="hs.permission.test"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>